/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  color: #eeeeee;
}
#root {
  height: 100%;
  overflow: auto;
}
.app-error,
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  line-height: 1.5;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

a {
  color: #69b6fd;
  text-decoration: none;
}
a:hover {
  color: #eeeeee;
  text-decoration: underline;
}

.app__wrapper {
  display: flex;
  width: 100%;
  min-height: 100%;
}
.app__menu {
  position: relative;
  vertical-align: top;
  width: 250px;
  padding: 20px;
  font-size: 12px;
  line-height: 1.4;
  border-right: 1px solid #eeeeee;
  background: rgba(4, 4, 4, 0.8);
  max-height: 100vh;
  overflow: auto;
  flex-shrink: 0;
  transition: all 100ms;
}
.app__menu__options {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #eeeeee;
}
.app__menu__options,
.app__menu .app__menu__options a {
  color: #eeeeee;
  text-transform: lowercase;
}

.app__wrapper--edit-mode .app__menu {
  margin-left: -230px;
}
.app__menu--made-by {
  text-align: center;
}
.app__menu--made-by p {
  margin: .5em 0;
}
.app__menu--made-by,
.app__menu .app__menu--made-by a {
  color: #eeeeee;
}
.app__menu--made-by img {
  height: 26px;
  display: inline-block;
  vertical-align: middle;
}
.app__menu a,
.app__menu__container > ul > li > ul, .app__menu__container > ul > li > details > ul {
  color: #eeeeee;
}
.app__menu__container > ul {
  font-family: Abel, Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
}

.app__menu__container > ul > li {
  margin-bottom: .8em;
}

.app__menu__container > ul > li > details {
  margin-bottom: 14px;
}

.app__menu__container > ul > li > details summary{
  cursor: pointer;
}

.app__menu__container > ul > li > details summary:focus {
  outline: none;
}

.app__menu__container > ul > li > ul, .app__menu__container > ul > li > details > ul {
  margin: 10px 0 24px 6px;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
}

.app__menu__container > ul > li > details > ul {
  margin-bottom: 10px;
}

.app__menu__container > ul > li > ul > li, .app__menu__container > ul > li > details > ul > li {
  margin-bottom: .8em;
}
.app__menu__container a.active::before {
  content: "> ";
}
.app__menu__container > ul > li > ul > li > ul, .app__menu__container > ul > li > details > ul > li > ul {
  color: #eeeeee;
  font-size: 12px;
  margin: 5px 0 0 5px;
  letter-spacing: 3px;
}
.app__menu__container > ul > li > ul > li > ul > li, .app__menu__container > ul > li > details > ul > li > ul > li {
  padding: 2px 0;
}
.app__menu__container > ul > li > ul > li > ul > li.status, .app__menu__container > ul > li > details > ul > li > ul > li.status {
  position: relative;
}
.app__menu__container > ul > li > ul > li > ul > li.status:after, .app__menu__container > ul > li > details > ul > li > ul > li.status:after {
  font-size: 10px;
  font-weight: bold;
  margin-left: 6px;
  color: #eeeeee;
  text-transform: uppercase;
}

.app__menu__container > ul > li > ul > li > ul > li a, .app__menu__container > ul > li > ul > li > ul > li a {
  color: #eeeeee;
}
.app__menu__container > ul > li > ul > li > ul > li a.active, .app__menu__container > ul > li > ul > li > ul > li a.active {
  font-weight: bold;
  color: #eeeeee;
}

.app__logo {
  text-align: center;
  margin-bottom: 30px;
}
.app__logo p {
  font-size: 24px;
  margin-bottom: 1em;
}
.app__logo img {
  vertical-align: middle;
}
.app__logo .rootvc-logo {
  height: 125px;
}

.app__content {
  overflow: auto;
  width: 100%;
  max-height: 100vh;
  flex-grow: 1;
}

.user-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

a.edit-menu {
  color: #69b6fd !important;
}

.app__menu--made-by .github-logo {
  display: inline-block;
  vertical-align: bottom;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 480px) {
  .app__menu {
    position: absolute;
    top: 0;
    width: 100%;
    border: 0;
    padding-bottom: 0;
  }

  .app__menu__container, .app__menu__options, .app__menu--made-by, #menuSearch {
    display: none;
  }

  .content {
    position: absolute;
    top: 180px;
  }
}